.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

body {
 font-family: 'Lato';
}

.is-raleway {
  font-family: 'Raleway';
}

header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.inner.header-inner {
  padding: 15px 0px 15px;
}

.btn {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  float: right;
  padding: 14px 12px;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
}

.btn:hover {
  color: #333;
}
.title {
  background-color: #f2f2f2;
}

.inner.title-inner {
  padding: 250px 0 250px;
}

.inner.title-inner h1 {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.inner.title-inner p {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

.inner.title-inner h1,p {
  text-align: center;
}

.wrapper {
  padding-top: 78px;
}

.WHATWECANDO {
  background-color: #74cfae;
}

.inner.WHATWECANDO-inner {
  padding: 50px 0px 0px 50px;
}

.WHATWECANDO img {
  float: none;
  padding-right: 120px;
}

.inner.WHATWECANDO-inner h2,p {
  color: #fff;
  text-align: center;
}

.inner.WHATWECANDO-inner h2 {
  font-size: 24px;
}
  

.inner.WHATWECANDO-inner p {
  font-size: 20px;
  font-family: none;
  line-height: normal;
  margin-top: 35px;
}

.text-content {
  float: none;
  margin-top: 20px;
  width: 70%;
}


.OURLATESTWORK {
  background-color: #f2f2f2;
  color: #333;
}

.inner.OURLATESTWORK-inner {
  padding: 60px 0 70px;
}

.inner.OURLATESTWORK-inner h2 {
  font-size: 24px;
  text-align: center;
}

.OURLATESTWORK-central {
  margin-top: 40px;
}

.OURLATESTWORK-central li {
  float: none;
  margin-left: 100px;
}

.OURLATESTWORK-central a {
  display: inline-block;
}

.OURLATESTWORK-central li:nth-child(3n+1) {
  clear: both;
  margin-left: 0;
}

.OURLATESTWORK-central img {
  opacity: 0.7;
  transition: all 0.3s;
}

.OURLATESTWORK-central img:hover {
  opacity: 1;
}

.OURLATESTWORK-text {
  margin-top: 90px;
}

.button {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  float: none;
  margin-left: 90px;
  padding: 14px 20px;
  text-decoration: none;
  transition: 0.3s;
}

.button:hover {
  color: #333;
}

.inner.OURLATESTWORK-inner .text {
  color: #333;
  font-size: 20px;
  float: none;
  font-family: none;
  line-height: normal;
  margin-left: 80px;
  text-align: center;
  width: 60%;
}

.OURSKILLS {
  background-color: #4e4e4e;
}

.inner.OURSKILLS-inner {
  padding: 70px 0px 100px;
  text-align: center;
}

.OURSKILLS h2 {
  color: #fff;
  font-size: 24px;
}

.OURSKILLS-content {
  margin-top: 50px;
}

.OURSKILLS-content li:first-child {
  margin-left: 0;
}

.OURSKILLS-content p {
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

.icon {
  background-color: #f2f2f2;
  text-align: center;
}

.inner.SNSicon-inner {
  padding: 200px 0;
}

.inner.SNSicon-inner li {
  display: inline-block;
}

.inner.SNSicon-inner a {
  color: #74cfae;
  transition: all 0.3s;
  text-decoration: none;
  padding: 40px 0;
  width: 185px;
}

.inner.SNSicon-inner a:hover {
  background-color: #fff;
}

footer {
  background-color: #74cfae;
}

.inner.inner.footer-inner {
  padding: 20px 0 25px;
}

.inner.footer-inner p {
  color: #fff;
  font-size: 16px;
  text-align: right;
}

@media screen and (min-width: 1200px) {
  .WHATWECANDO img,.text-content,.OURLATESTWORK-central li,.inner.OURLATESTWORK-inner .text,.button {
    float: left;
  }

  .OURSKILLS-content li {
    display: inline-block;
    margin-left: 180px;
  }

  .OURLATESTWORK-central li:nth-child(n+4) {
    margin-top: 80px;
  }  
}

@media screen and (min-width: 768px) and (max-width: 1190px) {
  .inner {
    width: 97%;
  }

  .inner.WHATWECANDO-inner {
    padding: 50px 0px 25px;
    text-align: center;
  }

  .WHATWECANDO img {
    padding: 0;
  }

  .text-content  {
    width: auto;
  }

  .OURLATESTWORK-inner {
    text-align: center;
  }

  .OURLATESTWORK-central li {
    margin: 0 auto;
  }

  .OURLATESTWORK-central li:nth-child(4) {
    margin-top: 80px;
  }

  .OURLATESTWORK-text {
    margin-top: 80px;
  }

  .inner.OURLATESTWORK-inner .text {
    margin-left: 0;
    width: auto;
  }

  .button {
    display: inline-block;
    margin-top: 40px;
    margin-left: 0;
  }

  .OURSKILLS-content li {
    margin-top: 88px;
  }

  .OURSKILLS-content li:first-child {
    margin-top: 0;
  }

  .icon {
    letter-spacing: -100px;
  }

  .inner.SNSicon-inner li {
    letter-spacing: normal;
  }
}

@media screen and (max-width: 767px) {
  .inner {
    width: 97%;
  }

  .inner.title-inner {
    padding: 160px 0  130px;
  }

  .inner.title-inner h1 {
    font-size: 80px;
  }

  .btn {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    position: relative;
  }

  .btn-line,.btn-line::before,.btn-line::after {
    background-color: #c0c0c0;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 24px;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }

  .btn-line::before,.btn-line::after {
    content: "";
  }

  .btn-line::before {
    top: 7px  
  }

  .btn-line::after {
    top: -7px;   
  }

  .inner.WHATWECANDO-inner {
    padding: 50px 0px 25px;
    text-align: center;
  }

  .WHATWECANDO img {
    padding: 0;
  }

  .text-content  {
    width: auto;
  }

  .OURLATESTWORK-inner {
    text-align: center;
  }

  .OURLATESTWORK-central li {
    margin: 0 auto;
  }

  .OURLATESTWORK-central li:nth-child(4) {
    margin-top: 80px;
  }

  .OURLATESTWORK-text {
    margin-top: 80px; 
  }

  .inner.OURLATESTWORK-inner .text {
    margin-left: 0;
    width: auto;
  }

  .button {
    display: inline-block;
    margin-top: 40px;
    margin-left: 0;
  }

  .OURSKILLS-content li {
    margin-top: 88px;
  }

  .OURSKILLS-content li:first-child {
    margin-top: 0;
  }

  .inner.SNSicon-inner {
    padding: 50px 0;
  }

  .inner.SNSicon-inner a {
    width: 100%;  
  }

  .inner.SNSicon-inner a:hover {
    background-color: #fff;
  }

  .inner.SNSicon-inner li {
    display: flex;
    justify-content: center;
  }
}