.header {
  background-color: #fff;
}

.inner.header-inner {
  height: 40px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 15px;
}

.btn {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  float: right;
  padding: 14px 12px;
  text-decoration: none;
  text-align: center;
}

.title {
  background-color: #f2f2f2;
  height: 540px;
  width: 100%;
}

.inner.title-inner h1 {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  padding-bottom: 20px;
  padding-top: 200px;
}

.inner.title-inner h2 {
  color: #c0c0c0;
  font-size: 30px;
}

h1,h2 {
  text-align: center;
  white-space: nowrap;
}

.title-under {
  background-color: #74cfae;
}

.inner.title-under {
  height: 345px;
}

.title-under img {
  margin-left: 200px;
  padding-top: 50px;
}

h3,h4 {
  color: #fff;
  text-align: center;
}

h3 {
  font-size: 24px;
  padding-bottom: 35px;
  padding-top: 100px;
}
  

h4 {
  font-size: 20px;
}

.main {
  background-color: #f2f2f2;
}

.inner.main-inner {
  height: 1140px;
}

h5 {
  font-size: 24px;
  padding-top: 60px;
  text-align: center;
}

.main-inner li {
  float: left;
  margin-top: 40px;
  margin-bottom: 80px;
}

.main-inner li:nth-child(3n+1) {
  clear: both;
}

.main-inner img {
  margin-left: 100px;
  padding-left: 40px;
}

.main-inner .button {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  margin-top: 90px;
  padding: 14px 20px;
}

.main-inner .text {
  font-size: 20px;
  margin-top: 90px;
  margin-right: 90px;
  padding-left: 250px;
  text-align: center;
}

.main-under {
  background-color: #333;
}

.inner.main-under {
  height: 400px;
}

.main-under h6 {
  color: #fff;
  padding-top: 70px;
  text-align: center;
}

.main-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.main-content p {
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

nav {
  background-color: #f2f2f2;
  height: 450px;
  text-align: center;
}

nav a {
  color: #74cfae;
  margin-top: 200px;
  padding-top: 40px;
  padding-bottom: 40px;
  transition: all 0.3s;
  text-decoration: none;
  width: 185px;
}

nav a:hover {
  background-color: #fff;
}

.inner.footer-inner {
  background-color: #74cfae;
}

.inner.footer-inner p {
  color: #fff;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 100px;
  text-align: right;
}
